<h2>Hero Entry</h2>

<section id="skillSubmission">
      <h4>Submit a hero</h4>
      <form id="HeroForm">
        <label for="alias">Alias:</label>
        <input type="text" id="currentHero" name="alias" ng-model="currentHero.alias" />

        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name" ng-model="currentHero.first_name" />

        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name" ng-model="currentHero.last_name" />

        <label for="city">City:</label>
        <input type="text" id="city" name="city" ng-model="currentHero.city" />

        <select  name="superPowerSelector" ng-model="currentHero.power_name" ng-options="power.power_name for power in superPowers">
          </select>

        <button ng-click="submitNewHero()">Add Hero</button>
</section>
